@media (min-width: 1400px) {

    /* ======================== */
    /* Header */

    .nav-icon {
        display: none;
    }

    .logo {
        width: 100%;
        grid-column: 2 / span 1;
    }

    .nav-items {
        grid-row: 2;
        grid-column: 3 / span 9 ;
        width: 100%;
        display: flex;
        flex-direction: row;
        position: static;
        transform: translateX(0%);
        padding: 0;
        background: var(--white);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: end;
    }

    .nav-feat {
        margin-left: 3em;
    }

    .nav-price {
        margin-left: 2em;
    }

    .nav-res {
        margin-left: 2em;
    }

    .login {
        grid-column: 11;
        padding: 0;
        margin-right: 2.5em;

    }

    .sign-up {
        width: 135px;
        grid-column: 12;
        margin-bottom: 0;
    }

    .nav-res {
        border-bottom: none;
        padding-bottom: 0;
    }

    .nav-link {
        color: var(--light-gray);
        padding: 0 0 5px 0;
    }


    /* ======================== */
    /* Hero */

    .hero-img {
        grid-row: 5 / span 19; 
        grid-column: 5 / span 8;  
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: 450px 10px;
    }

    .hero-title {
        text-align: left;
        max-width: 1000px;
        grid-column: 2 / span 6;
        grid-row: 7 / span 5;
        font-size: 5em;
    }

    .copy {
        max-width: 700px;
        margin: 0;
        padding: 0;
        line-height: 1.75em;
        color: hsl(260, 8%, 14%);
        opacity: .5;    
    }
    
    .hero-copy {
        text-align: left;
        font-size: 1.5rem;
        grid-column: 2 / span 5;
        grid-row: 15 / span 3;
        padding: 0;
    }

    /* ======================== */
    /* Form & Output */

    .shortner {
        background-image: url("../images/bg-shorten-desktop.svg");
        background-size: cover;
        flex-direction: row;
        justify-content: space-around;
        padding: 3em;
        background-position: -5px 0px;
    }

    .url-input {
        width: 70%;
        position: relative;
    }

    .error-msg {
        font-size: 18px;
        position: absolute;
        bottom: 10%;
        left: 6%;
    }

    .short-container {
        display: grid;
        grid-template-columns: 35px repeat(10, 1fr) 35px;
        font-size: 25px;
        align-items: center;
        border-radius: 10px;
    }

    .og-url {
        grid-column: 2 / span 5;
        padding: 1em 0 1em 0;
        border-bottom: none;
        align-self: start;
    }

    .short-url {
        grid-column: 9 / span 2;
        padding: 1em 0 1em 0;
        border-bottom: none;
    }

    /* ======================== */
    /* FEATURES ========= */

    .stats-title {
        font-size: 2.5rem;
        margin-bottom: .25em;
    }

    .statistics > .copy {
        font-size: 20px;;
    }

    .features {
        height: 90vh;
        padding-top: 10em;
        display: grid;
        grid-template-rows: repeat(24, 1fr);
        grid-template-columns: repeat(12, 1fr);
    }

    .feature-container {
        text-align: left;
        padding: 5em 2em 3em 2em;
    }

    .feature-container::after {
        content: "";
        width: 50px;
        height: 10px;
        background: var(--cyan);
        position: absolute;
        top: 50%;
        right: -50px;
    }

    .feature-title {
        padding-bottom: 1em;
    }

    .feature-container > .copy {
        max-width: 350px;
    }

    .icon-container {
        position: absolute;
        top: -15%;
        left: 20%;
        transform: translateX(-50%);
    }

    .icon-container::before {
        display: none;
    }

    .statistics {
        grid-row: 1 / span 4;
        grid-column: 5 / span 4;
        margin: 0;
    }

    .brand {
        grid-row: 8 / span 9;
        grid-column: 2 / span 3;
    }

    .records {
        grid-row: 9 / span 9;
        grid-column: 5 / span 3;
        margin-left: 50px;
    }

    .customize {
        grid-row: 10 / span 9;
        grid-column: 8 / span 3;
        margin-left: 100px;
    }

    .customize::after {
        display: none;
    }

    /* ======================== */
    /* BOOST ============ */

    .boost-container {
        background-image: url("../images/bg-boost-desktop.svg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 6em 1em;
    }

    .boost-title {
        color: var(--white);
        font-size: 2rem;;
    }

    /* ======================== */
    /* FOOTER =========== */

    .footer-logo {
        width: 10%;
    }

    .bottom-nav {
        height: 40vh;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        align-items: start;
    }

    .flex-col {
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    .footer-logo {
        width: 100%;
    }

    .logo-container {
        grid-row: 4;
        grid-column: 2;
    }

    .feature-links {
        grid-row: 4 / span 5;
        grid-column: 5;
    }

    .feature-links {
        width: 200px;
    }

    .resources-links {
        grid-row: 4 / span 7;
        grid-column: 6;
        padding-left: 8em;
    }

    .company-links {
        grid-row: 4 / span 7;
        grid-column: 7;
        padding-left: 8em;

    }

    .social-media {
        grid-row: 4 / span 3;
        grid-column: 9 / span 1;
        display: flex;
    }

    .s-link {
        padding: 0 1em 0 0;
    }

    /* ======================== */
    /* Buttons & Hover States */

    .copy-btn {
        width: 175px;
        font-size: 25px;
        grid-column: 11 / span 1;
        padding: 1.5em 0 1.5em 1.5em;
        border-bottom: none;
        padding: .5em 0;
        margin: .55em 0 .55em 20px;
        border-radius: 10px;;
    }

    .btn-green {
        text-transform: capitalize;
        background-color: var(--cyan);
        color: var(--white);
        border: none;
        border-radius: 5px;
    }

    .btn-red {
        width: 20%;
    }

    .hero-btn {
        font-size: 1.25rem;
        grid-column: 2 / span 2;
        grid-row: 19 / span 2;
        margin: 0;
        width: 70%;
    }

    .url-btn {
        width: 20%;
        margin: 0;
    }

    .url-input,
    .url-btn {
        font-size: 25px;
        border-radius: 15px;;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: var(--dark-gray);
    }

    .boost-btn {
        width: 15%;
        font-size: 25px;
    }

    .url-btn:hover {
        opacity: 1;
        background: hsl(180, 66%, 70%);
    
    }

    /* Hover =============== */
    
    .btn-green:hover {
        opacity: .5;
        cursor: pointer;
    }
    
    
    .s-link:hover {
        filter: brightness(40%) saturate(100%) invert(88%) sepia(55%) saturate(353%) hue-rotate(108deg) brightness(94%) contrast(90%);
    }
    .f-link:hover {
        color: var(--cyan);
    }

    .boost-btn:hover {
        opacity: 1;
        background: hsl(180, 66%, 70%);
    }
    
    .f-link:hover {
        color: var(--cyan);
    }

    .top-nav {
        align-items: end;
    }

    






    
    

    



    






}