:root  {
    --light-gray: hsl(0, 0%, 75%);
    --lighter-gray: #eeede7;
    --dark-gray: hsl(260, 8%, 14%);
    --grayish-violet: hsl(257, 7%, 63%);
    --dark-blue: hsl(255, 11%, 22%);
    --dark-violet: hsl(257, 27%, 26%);
    --darker-violet: hsl(260, 8%, 14%);
    --cyan: hsl(180, 66%, 49%);
    --white: #fff;
    --red: hsl(0, 87%, 55%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    scroll-behavior: smooth;
    width: 100vw;
    margin: 0;

}

h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

/* ================== */
/* MOBILE-NAV ======= */
/* ================== */



.nav-items {
    display: flex;
    width: 80%;
    position: fixed;
    top: 15%;
    left: 50%;
    z-index: 100;
    font-size: 20px;
    letter-spacing: 1px;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    flex-direction: column;
    background:var(--dark-violet);
    padding: 1em;
    border-radius: 10px;
}

.nav-link {
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1em 0;
}


.nav-res {
    border-bottom: solid 1px hsl(257, 7%, 63%, .5);
    padding-bottom: 2em;
}

.nav-open {
    display: flex;
    transform: translateX(-50%);
}

.login {
    padding: 2em 0;
}

.sign-up {
    margin-bottom: 1em;
}

/* ================== */
/*  TYPOGRAPYH ====== */
/* ================== */

h1, h2, h3, p { margin: 0; padding: 0; }

.copy {
    max-width: 450px;
    margin: 0 auto;
    padding: 1em 1.5em;
    line-height: 1.75em;
    color: hsl(260, 8%, 14%);
    opacity: .5;
}

.hero-title {
    max-width: 350px;
    margin: 0 auto;
}


.stats-title {
    font-size: 1.75em;
}

.footer-title {
    padding-bottom: 1em;
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
}

.f-link {
    text-decoration: none;
    font-weight: 300;
    color: var(--grayish-violet);
}



.link-padding {
    padding: 1em 0;
}

.s-link {
    padding: 0 .5em;
}


.short-url {
    color: var(--cyan);
    padding: 1em;
}

.boost-title {
    color: var(--white);
    font-size: 1.5rem;
    padding-bottom: 1em
}


/* ================== */
/*  BUTTONS / INPUT = */

.nav-icon {
    border: none;
    background: var(--white)
}


.btn-green {
    background-color: var(--cyan);
}

.btn-red {
    background-color: var(--red);
}

.btn-green,
.btn-red {
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 1em 1.5em;
    border: none;
    border-radius: 50px;
    margin-bottom: 1em;
}



.url-input,
.url-btn {
    font-size: 18px;
    text-transform: capitalize;
    padding: 1em;
    outline: none;
    border: none;
    border-radius: 5px;
}

.url-btn {
    font-weight: 700;
    background: var(--cyan);
    color: var(--white);
    margin-top: 1em;
}

.error {
    border: solid 4px var(--red);
}

.error-msg {
    display: none;
    text-align: left;
    color: var(--red);
    font-size: 16px;
    font-style: italic;
    padding: 5px 0 0 0;
}

.short-container {
    width: 90%;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto 1.5em auto;
    background: var(--white);
    padding: 1em;
    white-space: -moz-pre-wrap;      
    white-space: -pre-wrap;        
    white-space: -o-pre-wrap;    
    word-wrap: break-word;      
}

.og-url {
    border-bottom: solid 1px var(--light-gray);
    padding: 0 0 15px 0;
    text-align: left;
}

.short-url {
    text-align: left;
    padding: 1em;
}


.copy-btn {
    width: 90%;
}

.delete-btn {
    width: 75%;
}

.boost-btn {
    width: 60%;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--light-gray);
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--light-gray);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--light-gray);
}

    






    







    
















