@media(min-width: 1200px) {

    .hero-copy {
        max-width: 500px;
        margin: 0;
        font-size: 20px;
    }

    .hero-btn {
        margin-top: 1em;
    }

    .flex-col {
        margin-right: 4em;
    }

    .features {
        grid-template-rows: repeat(15, 1fr);
    }

    .brand {
        grid-row: 7 / span 5;
        grid-column: 2 / span 8;
    }

    .records {
        grid-row: 8 / span 5;
        grid-column: 10 / span 8;
    }

    .customize {
        grid-row: 9 / span 5;
        grid-column: 18 / span 8;

    }

    

    
}

